<nav class="navbar navbar-expand-lg navbar-light navigation-header ydb-back6" style="padding: 0 22px;">
    <a target="_blank" href="https://yottadb.com">
        <img alt="" src="../img/YottaDB_logo-light.svg" class="hand" width="160" style="padding: 5px;"/>
        <span id="lblYottadbVersion" class="ydb-image"></span><br>
    </a>

    <!--***************************************-->
    <!--      logo   -->
    <!--***************************************-->
    <div class="ml-auto" style="display: flex;">
        <a class="navbar-brand text-primary" href="#"></a>

        <!--***************************************-->
        <!--      Dasahboard menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <!-- Refresh icon, using Unicode-->
            <div aria-expanded="false" aria-haspopup="true" class="nav-link menu-header-2 hand" data-toggle="dropdown" id="menuDashboard"
                 style="color: var(--ydb-orange)"><span class="reload">&#x21bb;</span>
            </div>
        </div>

        <!--***************************************-->
        <!--      System info menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div class="nav-link   menu-header-2 hand" id="menuSystemInfo" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">System info...
            </div>
        </div>

        <!--***************************************-->
        <!--      Database Administration menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div class="nav-link   menu-header-2 hand" id="menuSystemAdministration" data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">Database Administration <i class="bi-caret-down-fill" style="font-size: 10px;"></i>
            </div>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu" id="menuSystemAdministrationStorageLi">
                    <a id="menuSystemAdministrationRegion" class="dropdown-item" tabindex="-1" href="#">Regions</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" id="menuSystemAdministrationRegionViewLi">
                            <a id="menuSystemAdministrationRegionView" tabindex="-1" href="#">View...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuSystemAdministrationRegionAddLi">
                            <a id="menuSystemAdministrationRegionAdd" tabindex="-1"
                               href="#">Add...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionEditLi">
                            <a href="#" id="menuSystemAdministrationRegionEdit" tabindex="-1">Edit...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionDeleteLi">
                            <a id="menuSystemAdministrationRegionDelete" tabindex="-1" href="#">Delete...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuSystemAdministrationRegionCreateDatabaseLi"><a
                                id="menuSystemAdministrationRegionCreateDatabase" tabindex="-1" href="#"> Create
                            Database file...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionExtendDatabaseLi"><a
                                id="menuSystemAdministrationRegionExtendDatabase" tabindex="-1" href="#"> Extend
                            database...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuSystemAdministrationRegionJournalingLi"><a
                                id="menuSystemAdministrationRegionJournaling" tabindex="-1" href="#"> Journaling Start /
                            Stop...</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuSystemAdministrationLocksManagerLi">
                    <a href="#" id="menuSystemAdministrationLocksManager" tabindex="-1">M Locks manager...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item disabled" id="menuSystemAdministrationBackupLi">
                    <a id="menuSystemAdministrationBackup" class="disabled" tabindex="-1" href="#">Backup...</a>
                </li>
                <li class="dropdown-item disabled" id="menuSystemAdministrationRestoreLi">
                    <a id="menuSystemAdministrationRestore" class="disabled" tabindex="-1" href="#">Restore...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item disabled" id="menuSystemAdministrationIntegrityLi">
                    <a id="menuSystemAdministrationIntegrity" class="disabled" tabindex="-1" href="#">Integrity check...</a>
                </li>
                <li class="dropdown-item disabled" id="menuSystemAdministrationDefragLi">
                    <a id="menuSystemAdministrationDefrag" class="disabled" tabindex="-1" href="#">Defrag /
                        Compact...</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-submenu disabled" id="menuAuth">
                    <a id="menuReplication" class="dropdown-item disabled" tabindex="-1" href="#">Replication</a>
                </li>
            </ul>
        </div>

        <!--***************************************-->
        <!--      Development menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div class="nav-link  menu-header-2 hand" id="menuDevelopment" data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">Development <i class="bi-caret-down-fill" style="font-size: 10px;"></i>
            </div>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item hand" id="menuDatabasesCreateLi"><a id="menuDatabasesCreate" tabindex="-1"
                                                                             href="#">Globals...</a>
                </li>
                <li class="dropdown-item" id="menuDatabasesDropLi"><a id="menuDatabasesDrop" tabindex="-1" href="#">Routines...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item disabled" id="menuDatabasesPropertiesLi">
                    <a id="menuDatabasesProperties" class="disabled" tabindex="-1" href="#">Triggers...</a>
                </li>
            </ul>
        </div>

        <!--***************************************-->
        <!--      Documentation menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div class="nav-link  hand menu-header-2" id="mnuHelp" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">Documentation <i class="bi-caret-down-fill" style="font-size: 10px;"></i>
            </div>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" style="left: -174px;">
                <li class="dropdown-item" id="menuDocumentationAdministration"><a tabindex="-1" href="#">Administration
                    and operation</a></li>
                <li class="dropdown-item" id="menuDocumentationMessages">
                    <a href="#" tabindex="-1">Messages and Recovery procedures</a></li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuDocumentationMprogrammer"><a tabindex="-1" href="#">M Programmer
                    guide</a></li>
                <li class="dropdown-item" id="menuDocumentationMultiLanguage"><a tabindex="-1" href="#">Multi-Language
                    Programmer guide</a></li>
                <li class="dropdown-item" id="menuDocumentationOcto"><a tabindex="-1" href="#">Octo documentation</a>
                </li>
                <li class="dropdown-item" id="menuDocumentationPlugins"><a tabindex="-1" href="#">Plugins</a></li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuDocumentationAcculturation"><a tabindex="-1" href="#">Acculturation
                    guide</a></li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuDebugInformation"><a tabindex="-1" href="#">Troubleshooting...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
